@mixin onePix($color){
  &:after{
    display: table;
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    color: $color;
    background: $color;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}